@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ===== RESET ==== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    transition: background-color 0.2s, filter 0s;
}


ol,
ul,
a {
    text-decoration: none;
    list-style: none;
    list-style-type: none;

}

a {
    display: inline-block;
}

input,
textarea {
    -webkit-user-select: auto;
}


a,
button,
.btn {
    cursor: pointer;
}

button {
    border: none;
}