
section {
    padding: 4rem;
}

.main-content {
    max-width: 1000px;
    margin: auto;
}

h1 {
    padding: 2rem;
}

.form-content,
.upload {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.file-container {
    display: flex;
    align-items: center;
    gap : 30px;
}

input[type="file"]{
    display: none;
}

.file-container label {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px 5px 6px;
    border-radius: 10px;
    color: var(--text-clr);
    background-color: var(--orange);
}

