



.page {
    background-color: var(--grey); /*F5F6F8*/
    padding: 30px;
    display: flex;
    gap: 40px;
}

/* side bar */
.side-bar {
    position: sticky;
    top: 10rem;
    max-width: 256px;
    width: 100%;
    max-height: 500px;
    overflow-x: hidden;
    background-color: var(--white-100);
    /*fff*/
    box-shadow: var(--box-shadow);
    /*rgba(0, 0, 0, 0.06)*/
}

.side-bar h1 {
    color: var(--dark-blue);
    text-align: center;
    padding: 15px 0px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.side-bar .side-bar-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
}

.side-bar .table {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--dark-blue);
    transition: all 0.3s ease;
    width: 100%;
    cursor: pointer;
}

.side-bar .table:hover {
    color: var(--orange);

}

.side-bar .active {
    color: var(--orange);
}

.side-bar .icon-side-bar {
    width: 24px;
    height: 24px;
    fill: red;
}


/* MAIN CONTENT */
.main {
    min-height: 100vh;
    width: 80%;
}

.head p,
.item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    display: flex;
}

/*  */
.visible {
    color: var(--white-100);
    background-color: var(--green);
    border-radius: 4px;
}
.invisible {
    color: var(--white-100);
    background-color: var(--red);
    border-radius: 4px;
}


/* grid */

.grid {
    display: grid;
    background-color: var(--white-100); /*fff*/
    grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
    width: 100%;
    gap: 15px;
}

.head {
    padding: 20px 100px;
    margin-bottom: 3px;
    border-radius: 3px 3px 0px 0px;
    color: var(--dark-blue);
}

.head-center,
.item-center {
    display: flex;
    align-items: center;
    justify-content: center ;
}
.item {
    padding: 15px 100px;
    margin-bottom: 1px;
    color: var(--input-text-clr);
}



.icon-container img {
    width: 24px;
    height: 24px;
    
}

.icon{
    filter: var(--filter-button-img);
}



/* main content */




/* Button to scroll on top of the page */
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--orange);
    color: var(--white-100); /*white*/
    cursor: pointer;
    padding: 6px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
  
#myBtn:hover {
    background-color: #555;
}

.icon-up {
    width: 24px;
    height: 24px;
    fill: var(--white-100); /*fff*/
    transform: rotate(180deg);
    
}