section{
    background-color: var(--white-100);
    color: var(--black-100);
}


.main {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.user-info {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    gap: 2rem;
}


.user-info .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    gap: 10px;
    padding: 1rem;
    align-items: center;
}

.user-info .profile,
.user-info .adresse {
    max-width: 400px;
}


.user-info .profile h1,
.user-info .adresse h1{
    color: var(--orange);
    text-decoration: underline;
    text-align: center;
    padding: 1em;
    
}
