section{
    padding: 2rem;
}


.main {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}


.user-info .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 1rem;
    align-items: center;
}

.user-info .profile,
.user-info .adresse {
    max-width: 400px;
}


.user-info .profile h1,
.user-info .adresse h1{
    color: var(--orange);
    text-decoration: underline;
    text-align: center;
    padding: 1em;
    
}
