

:root {
    --black-100: #111111;
    --black-200: #2F2F2F;
    --text-clr: #2F2F2F;
    --text-white: #ffffff;
    --orange: #FFAE27;
    --blue--link: #0000EE;
    --red: #de1b1bf0;
    --blue-100: #3271AB;
    --blue-200: #79BCF7;
    --dark-blue: #334D6E;
    --span-clr: #6F6F6F;
    --input-text-clr: #6F6F6F;
    --input-border-clr: #949494;
    --white-200: #F1F1F1;
    --grey: #E1E1E1;
    --grey-300: #f1f1f1;
    --grey-200: #999999;
    --white-100: #FFFDFA;
    --green: #06C925;
    --filter-orange-img: invert(67%) sepia(79%) saturate(566%) hue-rotate(338deg) brightness(104%) contrast(101%);
    --filter-button-img: invert(0%) sepia(20%) saturate(8%) hue-rotate(339deg) brightness(91%) contrast(87%);
    --filter-account-icon: none;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --product-shadow: 1px 18px 40px -8px rgba(0, 0, 0, 0.25);
    --theme-slider-background-image : url(../../assets/image/light-mode.png);
    --home-bg: url("/assets/image/bg-smoke.jpg");;
    font-family: 'Poppins', sans-serif;

}

.darkmode {
    --black-100: #ffffff;
    --black-200: #5e5e5e;
    --btn-text-clr: #ffffff;
    --orange: #FFAE27;
    --blue--link: #0000EE;
    --red: #de1b1bf0;
    --blue-100: #0b0835;
    --blue-200: #1d96ff;
    --dark-blue: #afc9ec;
    --span-clr: #6F6F6F;
    --input-text-clr: #6F6F6F;
    --input-border-clr: #949494;
    --white-200: #707070;
    --grey: #202020;
    --grey-200: #999999;
    --grey-300: #b8b8b856;
    --white-100: #1b1b1b;
    --green: #06C925;
    --filter-orange-img: invert(67%) sepia(79%) saturate(566%) hue-rotate(338deg) brightness(104%) contrast(101%);
    --filter-button-img: invert(91%) sepia(94%) saturate(2%) hue-rotate(229deg) brightness(105%) contrast(100%);
    --filter-account-icon: invert(99%) sepia(43%) saturate(5%) hue-rotate(121deg) brightness(104%) contrast(87%);
    --box-shadow: 0px 0px 0px 0px rgba(150, 150, 150, 0.699);
    --product-shadow: 1px 18px 40px -8px rgba(92, 92, 92, 0.651);
    --theme-slider-background-image : url(../../assets/image/dark-mode.png);
    --home-bg: url("/assets/image/bg-smoke-dark.jpg");
    font-family: 'Poppins', sans-serif;
}



/* end*/

input {
    position: relative;
    outline: none;
    border: none;
    border-radius: 7px;
    border: 1px solid var(--input-border-clr);
    color: var(--input-text-clr);
    padding: 14px 20px;
    width :calc(100% - 20px);
}

input:not(:empty):not(:focus):invalid {
    border: 2px solid red;
}

.invalid {
    border: 1px solid var(--red);
}



.material-symbols-outlined {
    padding-left: 30px;
}

input[type=text]:focus,
input[type=text]:active,
input[type=textarea]:focus,
input[type=textarea]:active,
input[type=email]:focus,
input[type=email]:active,
input[type=number]:focus,
input[type=number]:active,
input[type=password]:focus,
input[type=password]:active {

    transition: 250ms ease-in-out;
    border: 1px solid var(--orange);
}


/*when label required : display red star*/
.require:after {
    content: " *";
    color: red;
}

/* Typographie */


.form-error {
    color: red;
}


section {
    min-height: calc(100vh - 100px - 80px);
}