

:root {
    --black-100: #111111;
    --black-200: #2F2F2F;
    --orange: #FFAE27;
    --blue--link: #0000EE;
    --red: #de1b1bf0;
    --blue-100: #3271AB;
    --blue-200: #79BCF7;
    --dark-blue: #334D6E;
    --span-clr: #6F6F6F;
    --input-text-clr: #6F6F6F;
    --input-border-clr: #949494;
    --white-200: #F1F1F1;
    --grey: #E1E1E1;
    --grey-300: #f1f1f1;
    --grey-200: #999999;
    --white-100: #FFFDFA;

    --green: #06C925;
    --filter-orange-img: invert(67%) sepia(79%) saturate(566%) hue-rotate(338deg) brightness(104%) contrast(101%);
    --filter-button-img: invert(0%) sepia(20%) saturate(8%) hue-rotate(339deg) brightness(91%) contrast(87%);
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;

}

.darkmode {
    --black-100: #ffffff;
    --black-200: #5e5e5e;
    --orange: #FFAE27;
    --blue--link: #0000EE;
    --red: #de1b1bf0;
    --blue-100: #0b0835;
    --blue-200: #1d96ff;
    --dark-blue: #afc9ec;
    --span-clr: #6F6F6F;
    --input-text-clr: #6F6F6F;
    --input-border-clr: #949494;
    --white-200: #707070;
    --grey: #202020;
    --grey-200: #999999;
    --grey-300: #b8b8b856;
    --white-100: #1b1b1b;
    --green: #06C925;
    --filter-orange-img: invert(67%) sepia(79%) saturate(566%) hue-rotate(338deg) brightness(104%) contrast(101%);
    --filter-button-img: invert(91%) sepia(94%) saturate(2%) hue-rotate(229deg) brightness(105%) contrast(100%);
    --box-shadow: 0px 8px 16px 0px rgba(253, 253, 253, 0.2);

    font-family: 'Poppins', sans-serif;
}



/* end*/

input {
    position: relative;
    outline: none;
    border: none;
    border-radius: 7px;
    border: 1px solid var(--input-border-clr);
    color: var(--input-text-clr);
    padding: 14px 20px;
    width: 100%;
}

input:not(:empty):not(:focus):invalid {
    border: 2px solid red;
}

.invalid {
    border: 1px solid var(--red);
}



.material-symbols-outlined {
    padding-left: 30px;
}

input[type=text]:focus,
input[type=text]:active,
input[type=textarea]:focus,
input[type=textarea]:active,
input[type=email]:focus,
input[type=email]:active,
input[type=number]:focus,
input[type=number]:active,
input[type=password]:focus,
input[type=password]:active {

    transition: 250ms ease-in-out;
    border: 1px solid var(--orange);
}



/* input checkbox */

input[type="checkbox"] {
    color: var(--orange);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--orange);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    place-content: center;
    margin: 10px;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    background-color: var(--orange);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid var(--orange);
    outline-offset: max(2px, 0.15em);
}


/*when label required : display red star*/
.require:after {
    content: " *";
    color: red;
}

/* Typographie */


.form-error {
    color: red;
}


section {
    min-height: calc(100vh - 240px - 80px);
}