


/* ======= BUTTON ======= */

button {
    border: none;
}

.btn {
    border-radius: 10px;
    text-align: center;
}

.btn-orange {
    color: var(--black-200);
    background-color: var(--orange);
}
.btn-blue-200 {
    color: var(--black-100);
    background-color: var(--blue-200);
}


.btn:hover {
    transition: 10ms ease;
    filter:brightness(90%) ; 
}


.btn-black-200 {
    width: 300px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--black-200);
    color: var(--orange);
    text-align: center;
}


.btn-main {
    width: 200px;
    height: 40px;
}

.btn-large {
    width: 250px;
    height: 40px;
}

.btn-small {
    width: 150px;
    height: 30px;
}

.btn-black-200 img.btn-icon {
    fill: none;
    stroke: var(--orange);
    scale: 50%;
    float: left;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.btn-add {
    background-color: green;

}

/* =========== INPUT =========== */



.input_box .icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--inpu-text-clr);
}
.input_box .icon img {
    width: 24px;
    height: 24px;
}