


/* ======= BUTTON ======= */

button {
    border: none;
}

button:disabled {
    background-color: grey;
    opacity: 0.6;
    cursor: default;
}


.btn {
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}
.btn:hover {
    filter: brightness(90%);
}

.btn-orange {
    color: var(--black-200);
    background-color: var(--orange);
}
.btn-blue-200 {
    color: var(--black-100);
    background-color: var(--blue-200);
}

.btn-shadow-orange {
    box-shadow: 0px 4px 10px rgba(255, 174, 39, 0.4);
}

button:hover{
    transition: 10ms ease;
}


.btn-black-200 {
    width: 300px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--black-200);
    color: var(--orange);
    text-align: center;
}


.btn-main {
    width: 200px;
    height: 50px;
}

.btn-large {
    width: 250px;
    height: 40px;
}

.btn-small {
    width: 150px;
    height: 30px;
}

.btn-black-200 img.btn-icon {
    fill: none;
    stroke: var(--orange);
    scale: 50%;
    float: left;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.btn-add {
    background-color: green;

}

/* =========== INPUT =========== */


.input {
    position: relative;
}

.input .input-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 1;
    padding: 0px;
    top: 25%;
    left: 10px;
    color: var(--span-clr);
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-with-icon {
    padding: 14px 20px 14px 40px;
}

select {
    padding: 7px 10px;
}


