


/* ======= BUTTON ======= */

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    opacity: 0.6;
    cursor: default;
}


.btn {
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}
.btn:hover {
    transition: all 0.250s ease-in-out;
    filter: brightness(80%);
    transform: scale(1.02);
}

.btn-orange {
    color: var(--text-clr);
    background-color: var(--orange);
}
.btn-blue-200 {
    color: var(--text-clr);
    background-color: var(--blue-200);
}

.btn-shadow-orange {
    box-shadow: 0px 4px 10px rgba(255, 174, 39, 0.4);
}

button:hover{
    transition: 10ms ease;
}


.btn-black-200 {
    width: 300px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--black-200);
    color: var(--orange);
    text-align: center;
}


.btn-main {
    width: 200px;
    height: 50px;
}

.btn-large {
    width: 250px;
    height: 40px;
}

.btn-small {
    width: 150px;
    height: 30px;
}

.btn-black-200 img.btn-icon {
    fill: none;
    stroke: var(--orange);
    scale: 50%;
    float: left;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.btn-add {
    background-color: green;
}
.btn-border-orange {
    border: 2px  solid var(--orange);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* =========== INPUT =========== */


.input {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}

.input .input-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 1;
    padding: 0px;
    left: 10px;
    color: var(--span-clr);
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-with-icon {
    padding: 14px 0px 14px 40px;
}


/* input checkbox style (categories)*/
input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label {
    background-color: var(--orange);
}



.categories label {
    background-color: var(--grey);
    border-radius: 12px;
    
    padding: 10px 20px;
    transition: 150ms all ease-in-out; 
}
   
.categories label:hover {
    background:var(--grey-200);
    cursor:pointer;
}






select {
    padding: 7px 10px;
}

textarea {
    width :calc(100% - 20px);
    height: 6rem;
}



/* SELECT */ 

select {
    position: relative;
    max-width: 200px;
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid var(--input-border-clr);
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    transition: all 150ms ease;
    color: var(--input-text-clr);   
    background-image: url(../assets/icon/icon-arrow-down-back.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px;   
}


input[type="date"] {
    max-width: 200px;
    padding: 7px 12px;
    width: 100%;
    border: 1px solid var(--input-border-clr);
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    transition: all 150ms ease;
    color: var(--input-text-clr );
} 


select:focus {
    outline: none;
    border-color: var(--orange);
    box-shadow: 0 0 0 2px rgba(var(--orange),.2);
}

