

form {
    display: flex;
    justify-content: center;
}

.form-input .input {
    position: relative;
}

.form-input span {
    position: absolute;
    z-index: 1;
    padding: 0px;
    top: 25%;
    left: 10px;
    color: var(--inpu-text-clr);
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-with-icon {
    padding: 14px 20px 14px 40px;
}




/* style de barres*/
.bars {
    position: absolute;
    bottom: 0;
    display: flex;
}

.bars .bar-black {
    height: 500px;
    border-left: 30px solid black;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bars .bar-grey {
    height: 500px;
    border-left: 30px solid grey;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bars .bar-orange {
    height: 500px;
    border-left: 30px solid orange;
    border-radius: 15px;
    transform: rotate(45deg);
}