



.form-input input {
    background-color: #E1E1E1;
    border-radius: 5px;
    width: 400px;
    height: 25px;
}





/* style de barres*/
.bars {
    position: absolute;
    bottom: 0;
    display: flex;
}

.bars .bar-black {
    height: 500px;
    border-left: 30px solid black;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bars .bar-grey {
    height: 500px;
    border-left: 30px solid grey;
    border-radius: 15px;
    transform: rotate(45deg);
}

.bars .bar-orange {
    height: 500px;
    border-left: 30px solid orange;
    border-radius: 15px;
    transform: rotate(45deg);
}