
 



/* ==== CSS HEADER ==== */


nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 4px 8px -2px rgba(0,0,0,.2);
    
}

.nav-container {
    max-width: 1350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.nav-center {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-icon {
    width: 40px;
    height: 40px;
}

.logo-icon {
    width: 40px;
    height: 40px;
}

.nav-icon:hover {
    cursor: pointer;
}

.shopping-cart-icon {
    margin-right: 20px;
    fill : var(--orange);
    transition: 100ms all ease-in-out;
}

.shopping-cart-icon:hover {
    
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
}



.btn-nav {
    border-radius: 6px;
    padding: 14px 23px;
    border-radius: 8px;
    background-color: var(--black-200);
    color: var(--orange);
}

.btn-nav:hover {
    background-color: var(--orange);
    color: white;
}

.link-nav {
    color: var(--black-100);
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.1s ease-in;
}

.link-nav:hover {
    background-color: var(--black-200);
    color: var(--orange);
}


/* ==== CSS HEADER WHEN CONNECTED ==== */
 
.dropbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #FFFFFF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: var(--black-200);
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 
        0px rgba(0, 0, 0, 0.2);
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
}




/* ==== ANIMATIONS ==== */

@keyframes animation-jump {

    from {
        margin-left: 100%;
        transform: scale(1);
    }
    
    to {
        margin-left: 0%;
        transform: scale(3);
    }
}