
body{
    background-color: var(--grey);
    color: var(--black-100);
}

a {
    color: var(--input-text-clr);
}
a:hover {
    transition: all 0.250s ease-out;
    color: var(--orange);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.form-content-inscription {
    max-width: 40em;
    display: grid;
    grid-template-areas: 
                "firstname  lastname" 
                "email      email"
                "password   passwordconfirmation";
    grid-gap: 2rem;
}

.inscription-first-name { grid-area: firstname;}
.inscription-last-name { grid-area: lastname;}
.inscription-email { grid-area: email;}
.inscription-password { grid-area: password;}
.inscription-password-confirmation { grid-area: passwordconfirmation;}

.form-content-connexion {
    max-width: 40em;
    display: grid;
    grid-template-areas: 
                "email" 
                "password";
    grid-gap: 2rem;
}

.connexion-email {grid-area: email;}
.connexion-password { grid-area: password;}

