.main-content {
    padding: 2rem;
    max-width: 1450px;
    margin: auto;
}



.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}


.form-input-modifyAddress {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
