.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}


.form-content-modifyAddess {
    max-width: 40em;
    display: grid;
    grid-template-areas: 
                "firstname  lastname" 
                "email      email"
                "password   passwordconfirmation";
    grid-gap: 2rem;
}

