.main {
    display: flex;
    justify-content: center;
}

.summary {
    width: 50rem;
}

.tab {
    display: flex;
    padding: 2rem 2rem 0 2rem;
}

.facturation {
    width: 500rem;
    display: grid;
    grid-template-areas: 
    "a b"
    "c ."
    "d .";
}

.formulaire {
    grid-area: a;
}

.facturation input {
    margin-bottom: 1rem;
}

.formulaire .entries {
    margin-top: 1rem;
    padding-left: 8rem;
}

.order-total {
    grid-area: b;
    flex-direction: column;
    line-height: 2rem;
    height:fit-content;
    width: fit-content;
    border: 0.1rem solid rgb(206, 206, 206);
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 20rem;
}

.payment-methods {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.payment-method {
    padding-left: 5rem;
}

.payment-method .left {
    display: grid;
    grid-template-columns: repeat(2,0fr);
}

.payment-method .left input {
    width: 1rem;
    margin: auto;
    margin-left: 1rem;
}

.payment-method .left label {
    width: 15rem;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.payment {
    width: 25rem;
    height: 5rem;
    margin: 1rem;
    border: 0.1rem solid rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment img {
    max-width: 5rem;
    height: 3rem;
    margin-right: 1rem;
}



