section{
    background-color: var(--white-100);
    color: var(--black-100);
}

.main-content {
    display:flex;
    flex-direction: row;
    padding : 2em;
}

.search {
    width: 25%;
}

.search form {
    display: flex;
    flex-direction:column;
    gap: 2rem;
}

.search .categories {
    display: flex;
    flex-direction: column;
    gap: 30px;
}





.categories input[type=checkbox] {
    display: none;
}

.categories input[type=checkbox]:checked + label {
    background-color: var(--orange);
}

.categories label {
    background-color: var(--grey);
    border-radius: 12px ;
    padding: 10px 20px;
    transition: 150ms all ease-in-out; 
}
   
.categories label:hover {
    background:var(--grey-200);
    cursor:pointer;
}

.price-container {
    display: flex;
    gap: 2rem;
}



