

.main-content {
    display:flex;
    flex-direction: row;
    padding : 2em;
}

.search {
    width: 20%;
}

.search form {
    display: flex;
    flex-direction:column;
    gap: 2rem;
}

.search .categories {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-content .grid-products {
    margin: auto;
}

.price-container {
    display: flex;
    gap: 2rem;
}



.page-components{
    display: flex;
    padding: 0 0 32px 0;
    flex-direction: row;
    justify-content: space-evenly;
}

.page-components p {
    margin-top: 10px;
    font-size: 1rem
}