
section {
    min-height: 90vh;
    padding: 20px 100px ;
}


.product {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    place-items: center;
    margin: auto;
    gap: 30px;
    
}


.product .slider-image {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 10px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.product .other-image {
    width: 200px;
    height: 160px;
    cursor: pointer;
}

.product .main-image {
    width: 500px;
    height: 300px;
}






.description .buy .a-desactived {
    background-color: grey;
    opacity: 0.6;
    cursor: default;
}

.description .buy .a-desactived:hover {
    color: var(--black-100);;
}


.return{
    margin-left: 3em;
}