
section {
    height: 90vh;
}


.product {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
    margin: auto;
}

.product-image {
    flex: 1;

}
.product-image img {
    width: 500px;
    height: 300px;
}

.product-content {
    flex: 1;
}




.description .buy .a-desactived {
    background-color: grey;
    opacity: 0.6;
    cursor: default;
}

.description .buy .a-desactived:hover {
    color: var(--black-100);;
}


.return{
    margin-left: 3em;
}