.main-content {
    padding: 20px 120px;
    max-width: 1200px;
}

.info {
    display: flex;
    align-items: center;
    gap: 120px;
    border-bottom: 2px solid var(--grey);
    padding: 50px 0px 20px;
    margin-bottom: 50px;
 
}

.shopping-cart-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.shopping-cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:12px;
    width: 90%;
    height: 80px;
    box-shadow: 1px 18px 40px -8px rgba(0, 0, 0, 0.25);
    padding-right: 50px;
}
.shopping-cart-product .image-model {
    height: 100%;
    border-radius: 12px 0px 0px 12px;
}

.shopping-cart-product .icon-delete {
    width: 20px;
    height: 20px;
