


section {
    min-height: 90vh;
}

.cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.cart {
    padding: 20px 120px;
    width: 1200px;
    display: inline-block;
}

.info {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 120px;
    border-bottom: 2px solid var(--grey);
    padding: 50px 0px 20px;
    margin-bottom: 50px;
}


.shopping-cart-list {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 50px;
    
}

.order {
    padding-top: 50px;
    align-items:center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



.shopping-cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    border-radius: 8px;
    box-shadow: 1px 18px 40px -8px rgba(0, 0, 0, 0.25);
}

.shopping-cart-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 5 0px;
    height: 100%;
    padding-right: 40px;    
}

.shopping-cart-content img {
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}

.shopping-cart-product .icon-delete {
    width: 25px;
    height: 25px;

}

.shopping-cart-product .link-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1 0px;
    border-radius: 0px 8px 8px 0px;
}

.shopping-cart-product .link-delete:hover {
    transform: 500ms ease-in-out;
    background-color: var(--grey);
    
}

.shopping-cart-product-on {
    width: 15rem;
    display: inline;
}


.order-total {
    width: 700px;
    float: right;
}

