.main {
    padding: 2rem;
}


.tab-container {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;  
}

/* Style the buttons that are used to open the tab content */
.tab-container .tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tab-container button:hover {

    background-color: var(--orange);
    border-bottom: 4px solid var(--orange);
}



/* Create an active/current tablink class */
.tab-container button.active {
    border-bottom: 4px solid var(--orange);
}

.tab-container button:not(.active) {
    border-bottom: 4px solid transparent;
}


/* ============ Content ============ */


/* Style the tab content */
.tab-content {
    display: none;
    padding: 2em;
    background-color: var(--white-200);
}

.tab-content button {
    margin: 0 3em 3em;
}


.item-container {
    padding: 10px 30px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr) 80px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.item-container-white {
    background-color: var(--white-100);
    color: var(--black-200);
}

.item-container-black {
    background-color: var(--black-200);
    color: var(--orange);
}


.item-container>p {
    width: 15rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.icon-container {
    grid-column: end;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon-delete {
    margin-left: 1em;
}